@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root{
  --background: #1e1e1e;
  --white: #e2e2e2;
  --border: #3e3e3e;
  --text-primary: #939598;
  --text-primary-link: #F8F9FA;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: var(--white);
}

body{
  background: var(--background);
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden !important; 

}

.desk {
 width: calc(100% - 250px);
 position: relative;
 left: 250px;
}

.sidebar{
  width: 250px;
  border-right: 1px solid var(--border);
  height: 100%;
  position: fixed;
  
}
nav .container_img {
  padding: 48px 16px 0;
}

.sidebar nav {
  border-bottom: 1px solid var(--border);
}

.container_img img:hover {
  opacity: 0.72;
}

nav ul {
  list-style: none;
}



nav ul li a {
  text-decoration: none;
  color: var( --text-primary-link);
  font-size: 15px;
}
nav ul li a:hover {
  color: var(--white);
  transition: ease-in-out 0.2s;
  opacity: 0.7;

}
nav ul li {
 padding: 1.4rem 0;

}

nav ul li .before{
  position: absolute;
  z-index: -1;
  color: #292929;
  font-size: 60px;
  line-height: 0;
  font-weight: 700;
  margin-top: 10px;
}

 .info .before{
  position: absolute;
  z-index: -1;
  color: #292929;
  font-size: 60px;
  line-height: 0;
  font-weight: 700;
  margin-top: 10px;
 }
 .info .text{
  color: var(--text-primary);
  font-weight: 400;
  font-size: 15px;
}




.icon i {
  color: var(--white);
}


.games, .cases_games, .contact  {
   min-height: 100vh;

}

.pbt {
    padding-top: 100px ;
}

.games .container, .cases-games .container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 40px;
}


.games .container .before {
  color: #292929;
  font-size: 100px;
  line-height: 0;
  font-weight: 700;
}

.games .container .content p {
  color: var(--white);
  margin-top: -65px;
}

.card_about, .card-shape {
  width: 250px;
}



.games .container .content h3 {
  color: var(--text-primary);
  font-size: 25px;
  line-height: 0;

}

.games .container .info{
 position: relative;
 top: 20px;
 color: var(--text-primary);
}

.games .container .info h3 {
  line-height: 80px;
  font-size: 25px;
}

.games .container .info .line-height{
  margin-top: 30px;
  color: var(--white);
  font-size: 13px;
}





.containers_cards .card_about p{
  color: var(--white);
  font-size: 13px;
  line-height: 27px;
}

 .card-shape, .card-shape-desk {
    height: 380px;
}
 .card-shape  p, .card-shape-desk p {
    color: var(--white);
    margin-top: 15px;
    line-height: 27px;
}

 .card-shape a, .card-shape-desk a {
    color: var( --text-primary);
    font-size: 12px;
    margin-top: 10px;
    text-decoration: none;
}

  
.menu_moobile {
    display: none;
}

.carrousel_items {
  display: none;
}

.cases_games, .contact {
  padding: 0 40px;
}

.cases_games .container .before, .contact  .container .before{
  color: #292929;
  font-size: 100px;
  line-height: 0;
  font-weight: 700;
}

.cases_games .container  p,  .contact  .container .title_p{
  color: var(--white);
  margin-top: -70px;
}

.cases_games .container  span, .contact  .container span {
color: var(--text-primary);
font-size: 15px;
}

.cases_games .container .content h3, .contact  .container h3 {
  color: var(--text-primary);
  font-size: 25px;
  line-height: 0;
}

.contact  .container h3{
  margin-top: -40px;
}

.contact .descripton {
  color: var(--text-primary);
  margin-top: 45px;
}

.card_blog {
  width: 280px;
  background: #292929;
}

.card_blog .container_img .img-bottom  {
  width: 100%;
}
.card_blog .container_img {
  position: relative;
}


.triangule {
  border-color: #1e1e1e #1e1e1e transparent transparent;
    border-style: solid;
    position: absolute;
    right: -1px;
    top: -1px;
    width: 40px;
    border-width: 30px;
}


.shape {
    position: absolute;
    top: 0;
    right: 0;
    width: auto !important;
}

.card_blog .content span {
  background: var(--text-primary);
  color: #000;
  padding: 3px;
}

.card_blog .content .mt_p {
 margin-top: 40px;
 font-size: 10px;
}

.card_blog .content .mt_card_blog_p{
  margin-top: 20px;
  font-size: 10px;
}


.card_blog .content h4 {
  font-size: 17px;
  color: var(--text-primary);
 }

.card_blog .content a {
  text-decoration: none;
  font-size: 10px;
  color: var(--text-primary);
}


.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next, .owl-carousel button.owl-dot{
  color: var(--white);
  font-size: 30px;
}

.owl-nav{
  text-align: center;
}


form label {
  color: var(--text-primary);
  font-size: 17px;
}

form input,  textarea  {
  border: 2px solid #292929;
  outline: none;
  background-color: transparent;
  padding: 4px;
  color: var(--text-primary);
  
}

form input:focus,  textarea:focus {
  box-shadow: 0 0 0 0;
    border: 2px solid #6d6e71;
    outline: 0;
}

   input:focus + .corner, textarea:focus + .corner {
  border-bottom: 2px solid #6d6e71;
}

form button {
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--text-primary);
  font-size: 15px;
}

.corner {
  border-bottom: 2px solid #292929;
    width: 28px;
    height: 22px;
    position: absolute;
    top: 18px;
    right: -10px;
    z-index: 2;
    background: #1e1e1e;
    -webkit-transform: rotate(45deg);
}


.card_footer h4{
  font-size: 20px;
  color: var(--text-primary);
}

.card_footer p {
  color: var(--white);
  font-size: 10px;
  line-height: 18px;
}
.link_map:hover {
  color: var(--white);
}
.icons a {
  background-color: var(--text-primary);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;

}

.icons a:hover {
  opacity: 0.82;
}

.icons i {
  font-size: 15px;
}

.link_map {
  text-decoration: none;
  font-size: 10px;
  color: var(--text-primary);
}

.layout_mobile {
  display: none;
}

.layout_mobile .before {
  color: #292929;
  font-size: 50px;
  line-height: 0;
  font-weight: 700;
}

.layout_mobile .container .content p {
  color: var(--white);
  margin-top: -11px;
}

.layout_mobile a {
  font-size: 14px;
}



.nav-button {
  border: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(--text-primary);
  margin: 8px;
}

.nav-button i {
  color: black;
  font-size: 33px;
}



.overlay {
  height: 100%;
  background-color: #1e1e1e;
  background-color: #1e1e1e;
  z-index: 999;
  position: fixed;
  width: 0;
  right: 0;
  border-left: 1px solid var(--text-primary);
  
  top: 0;
  overflow-x: hidden;
  transition: all 0.5s;
}

.overlay-content {
  position: relative;
  top: 16%;
  width: 100%;
  text-align: center;
}



.overlay .close_btn {
  position: absolute;
  top: 25px;
  right: 45px;
  font-size: 60px;
  text-decoration: none;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: var(--text-primary);
  color: black;

}

.overlay-content ul {
  padding-bottom: 50px;
}

@media (max-width: 700px) {
  .sidebar, .desk {
      display: none !important;
  }
  .layout_mobile{
    display: block;
  }   

}


@media (max-width: 900px) {
  .card_blog {
    width: 200px;
  }
  .wrap_desk{
    flex-wrap: wrap;
  }

  .cases_games .container .content h3 {
    font-size: 20px;
  }
}

@media (max-width: 1400px) {
  .carrousel_items{
    display: block;
  }
  .cards_home_desk{
    display: none;
  }
}

