@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root{
  --background: #1e1e1e;
  --white: #e2e2e2;
  --border: #3e3e3e;
  --text-primary: #939598;
  --text-primary-link: #F8F9FA;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: var(--background);
  font-family: 'Montserrat', sans-serif;
  display: flex;
}

main {
 width: 100%;
}

.sidebar{
  border-right: 1px solid var(--border);
  width: 250px;
  min-height: 100vh;

}


.container_img img{
  width: 70%;
}


.container_nav_bar nav {
  border-bottom: 1px solid var(--border);
}

.container_nav_bar nav .container_nav_bar_img {
  text-align: center;
  padding: 48px 16px 10px;
  width: 100%;
}

.container_nav_bar nav .container_nav_bar_img img {
  width: 70%;
  height: 68px;
}

.container_nav_bar nav .container_nav_bar_img a:hover {
  opacity: 0.72;
}

.container_nav_bar ul {
  list-style: none;
  padding: 100px 40px;
}

.container_nav_bar ul li a {
  text-decoration: none;
  color: var( --text-primary-link);
  font-size: 15px;
}
.container_nav_bar ul li a:hover {
  color: var(--white);
  transition: ease-in-out 0.2s;
  opacity: 0.7;

}
.container_nav_bar ul li {
 padding: 2rem 0;
}

.container_nav_bar ul li .before{
  position: absolute;
  z-index: -1;
  color: #292929;
  font-size: 60px;
  line-height: 0;
  font-weight: 700;
  margin-top: 10px;
}
 .info .before{
  position: absolute;
  z-index: -1;
  color: #292929;
  font-size: 60px;
  line-height: 0;
  font-weight: 700;
  margin-top: 10px;
 }
 .info .text{
  color: var(--text-primary);
  font-weight: 400;
  font-size: 15px;
}

.info_nav_foother{
  padding: 6px 40px;
  margin-top: 25px;
}

.icon{
  display: flex;
  justify-content: flex-end;
  padding: 0 10px;


}
.icon i {
  color: var(--white);
}


.games {
  display: flex;
  align-items: center;
  gap: 50px;
  min-height: 100vh;

}

.pbt {
    padding-top: 100px ;
}

.games .container, .cases-games .container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 40px;
}


.games .container .before {
  color: #292929;
  font-size: 100px;
  line-height: 0;
  font-weight: 700;
}

.games .container .content p {
  color: var(--white);
  margin-top: -25px;
}



.games .container .content h3 {
  color: var(--text-primary);
  font-size: 25px;
  line-height: 0;

}

.games .container .info{
 position: relative;
 top: 20px;
 color: var(--text-primary);
}

.games .container .info h3 {
  line-height: 80px;
  font-size: 25px;
}

.games .container .info .line-height{
  margin-top: 30px;
  color: var(--white);
  font-size: 13px;
}

.containers_cards{
  display: flex;
}

.containers_cards .card_item {
   width: 218px;
 
}

.containers_cards .card_item img {
  width: 194px;
}


.containers_cards .card_item p{
  color: var(--white);
  font-size: 13px;
  line-height: 27px;
}

.containers_cards .card-shape {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content:center;
}
.containers_cards .card-shape p {
    color: var(--white);
    margin-top: 15px;
    line-height: 27px;
}

.containers_cards .card-shape a {
    color: var( --text-primary);
    font-size: 12px;
    margin-top: 10px;
    text-decoration: none;
}

.card-shape  .container-img {
    width: 100%;
    text-align: left;
}


@media (max-width: 1300px){
    .games .container {
        width: 500px;
    }
    .games{
        gap: 0;
    }

    .container_nav_bar ul{
        padding: 30px 40px;
    }
    .container_nav_bar ul li{
        padding: 1.6rem 0;
    }
    .info_nav_foother{
        text-align: center;
        padding: 10px 0;
    }

    .games .container .info h3{
        font-size: 20px;
    }
}



  
.menu_moobile {
    display: none;
}

.nav-top img {
    width: 150px;
}

.nav-top {
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 101;
    padding: 50px 20px;
    width: 100%;
    height: 50px;
    background-color: var(--background);
  }
  .nav-top .hamburger {
    margin-left: auto;
    color: #fff;
    cursor: pointer;
  }
  
  .nav-drill {
    margin-top: 50px;
    transform: translateX(100%);
  }
  .nav-is-toggled .nav-drill {
    transform: translateX(0);
  }
  .nav-is-toggled::after {
    opacity: 1;
    visibility: visible;
  }
  
  .nav-drill {
    display: flex;
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    width: 250px;
    height: 100vh;
    background-color: #1e1e1e;
    border-left: 4px solid white;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    transition: 0.45s;
    padding-left: 3rem!important;
    margin-top: 95px;
  }
  


  .nav-drill  ul li .before{
    position: absolute;
    z-index: -1;
    color: #292929;
    font-size: 60px;
    line-height: 0;
    font-weight: 700;
    margin-top: 10px;
  }
  .nav-drill  ul li{
    list-style: none;
  }

  .nav-drill  ul li {
    padding: 2rem 0;
  }

  .nav-drill  ul li a {
    text-decoration: none;
    color: var(--text-primary-link);
    font-size: 15px;
  }

@media (max-width: 768px) {
    .sidebar, main {
        display: none;
    }
    .menu_moobile {
        display: block;
    }
}






.cases_games {
  min-height: 200vh;
}

.cases_games .container .before {
  color: #292929;
  font-size: 100px;
  line-height: 0;
  font-weight: 700;
}

.cases_games .container  p {
  color: var(--white);
  margin-top: -70px;
}

.cases_games .container  span {
color: var(--text-primary);
font-size: 15px;
}

.cases_games .container .content h3 {
  color: var(--text-primary);
  font-size: 25px;
  line-height: 0;
}

.card_blog {

  background: #292929;
}

.card_blog .container_img .img-bottom  {
  width: 100%;
}
.card_blog .container_img {
  position: relative;
}


.triangule {
  border-color: #1e1e1e #1e1e1e transparent transparent;
    border-style: solid;
    position: absolute;
    right: -1px;
    top: -1px;
    width: 40px;
    border-width: 30px;
}


.shape {
    position: absolute;
    top: 0;
    right: 0;
    width: auto !important;
}

.card_blog .content span {
  background: var(--text-primary);
  color: #000;
  padding: 3px;
}

.card_blog .content .mt_p {
 margin-top: 40px;
 font-size: 10px;
}

.card_blog .content .mt_card_blog_p{
  margin-top: 20px;
  font-size: 10px;
}


.card_blog .content h4 {
  font-size: 17px;
  color: var(--text-primary);
 }

.card_blog .content a {
  text-decoration: none;
  font-size: 10px;
  color: var(--text-primary);
}7
